# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\uczelnia\twittscrapper-rb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
